.account-balance {
    border: 3px solid black;
    padding: 1rem;
    margin-bottom: 1.8rem;
    border-radius: 6px;
    background-color: rgba(0,0,0,0.2);
    box-shadow: 1px 1px 1px 0.8px;
}

.account-balance > p {
    font-size: 20px;
    color: white;
}

.account-balance > p > span {
    font-weight: bold;
}